#clockContainer{
    position: relative;
    background: url(clock.png) no-repeat;
    background-size: 100%;
    margin: auto;
    height: 40vw;
    width: 40vw;
}
#hour,#minute,#second{
    position: absolute;
    background:black;
    border-radius: 10px;
    transform-origin: bottom;
}
#hour{
    width: 1.5%;
    height: 23.5%;
    top: 27%;
    left: 49.5%;
    opacity: 0.8;
}
#minute{
    width: 1.5%;
    height: 28%;
    top: 22.5%;
    left: 49.5%;
    opacity: 0.8;
    
}
#second{
    width: 1%;
    height: 32%;
    top: 18%;
    left: 49.5%;
    opacity: 0.8;
}
    